
.corner_sticker {
    position: fixed;
    width: 200px;
    top: 0;
    right: 0;
}
.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 54px;
    z-index: 1;
    color: black;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

polygon:hover {
    cursor: pointer;
}


.largerstar {
    fill: pink;
}

.largerstar:hover{
    fill: greenyellow;
    cursor: pointer;
}

.smallerstar {
    fill: yellow;
}

.smallerstar:hover {
    fill: orange;
    cursor: pointer;
}

p:hover {
    fill: blueviolet;
    cursor: pointer;
}

.svg-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensures the elements are aligned at the top */
}

.arch {
    font-size: 14px;
}

.tinytext {
    font-size: xx-small; /* Adjust font size if needed */
}

.text:hover {
    cursor: pointer;
}